div#slideshow{
    clear:both;
}
div.slide {
    display: block;
    width: 45%;
    margin: 4px;
    padding: 4px 4px 0 4px;
    border: 1px dashed #000;
    text-align: center;
    list-style: none;
    float: left;
}
img {
    width: 100%;
}
#nav a, #navbot a {
    margin: 4px;
    text-decoration: none;
    color: black;
}
div.clear {
    clear: both;
}
